{% extends "base.html"%}

{% block title %}
Home
{% endblock %}

{% block content %}
<h4 class="text-center p-5">
  北科大餐廳推薦~
</h4>
<form class="d-flex" method=POST action="{% url 'preference' %}">
  {% csrf_token %}
<p align="right">
  <p> Name <input class="form-control me-2" style="width: 10rem;" type="search" placeholder="餐廳名字" aria-label="Search" name="filter_name" ></p>
  <p> Style
    <select class="form-select" aria-label="Style select" name="filter_style">
      <option value = "" selected>餐廳風格</option>
      <option value="Noodle">Noodle</option>
      <option value="Fast Food">Fast Food</option>
      <option value="Italian">Italian</option>
    </select>
  </p>
  <p> Distance<input class="form-control me-2" style="width: 15rem;" type="search" placeholder="距離" aria-label="Search" name="filter_distance"></p>
  <p> Price<input class="form-control me-2" style="width: 8rem;"type="search" placeholder="價格上限" aria-label="Search" name="filter_price"></p>
  <p> Rating<input class="form-control me-2" style="width: 8rem;" type="search" placeholder="評價" aria-label="Search" name="filter_rating"></p>
</p>
  <p><button class="btn-btn-outline-secondary" type="submit" >找餐廳</button></p>

</form>
<div class="container choiceMessage">        
  <a href="{% url 'random' %}"  class="btn btn-success" id="rdbtn">隨機選個?</a> 
</div>       
<br>
<h2 class="title">餐廳列表</h2>

<div class="row row-cols-1 row-cols-md-2 g-4" id="RestaurantList">
  {% for R in RestaurantList %}
  <div class="card text-center h-100" style="width: 25rem;">
    {% if R.Img.url != None %}
    <img class="card-img-top" src="{{R.Img.url}}">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title"><a href="resturant/{{ R.id }}">{{R.Name}}</a></h5>
      <p class="card-text">Style: {{R.Style}}</p>
      <p class="card-text">Price: {{R.Price}}</p>
      <p class="card-text">Distance of {{R.Distance}} Km</p>
        <a href="resturant/{{ R.id }}" class="btn btn-secondary" id="{{ R.id }}">餐廳資訊</a>
        {% if user.is_staff %}
        <a href="resturant/edit/{{ R.id }}" class="btn btn-primary" id="{{ R.id }}">編輯餐廳</a>
        <a href="resturant/delete/{{ R.id }}" class="btn btn-danger" id="{{ R.id }}" onclick="return confirm('Are you sure you want to delete this?')">刪除餐廳</a>
        {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}