{% extends "base.html" %}
{% load ratings %}

{% block title %}
隨機找到的餐廳...
{% endblock %}

{% block content %}
<div class="container-fluid">
  
  {% comment %} {% include 'registration/messages.html'%} {% endcomment %}
  <br><br><br>
  <div class="container">        
    {% if RandomRestaurant == None %}        
    <p>今天應該要吃: <input type="text" readonly="readonly" id="rdrs"></p>
    <a href="random" class="btn btn-success" id="rdbtn">Random</a>
    {% else %}
    <p>今天應該要吃: <input type="text" value="{{ Restaurant_selected.Name }}" readonly="readonly" id="rdrs"></p>
    {% endif %}
    <a href="/random/" class="btn btn-success" id="rdbtn">不喜歡這間嗎?再骰一次</a>

  </div>      
  <div class="main">
    <br><br/>
    <h5 class="title"><a href="/resturant/{{ Restaurant_selected.id }}">{{Restaurant_selected.Name}}</a></h5>
    <p class="h7">Style: {{Restaurant_selected.Style}}</p>
    <p class="h7">Average Price: {{Restaurant_selected.Price}}</p>
    <p class="h7">Distance: {{Restaurant_selected.Distance}} Km</p>
    <p class="h7">Address: {{Restaurant_selected.Address}}</p>
    {% ratings Restaurant_selected %}
    <br><br>
    <a href="/" class="btn btn-dark" >返回首頁</a>
  </div>
</div>
{% endblock %}
