{% extends "base.html" %}
{% load ratings %}

{% block title %}
{{Restaurant_selected.Name}} 餐廳資訊
{% endblock %}

{% block content %}
<div class="container-fluid">
  
  {% include 'registration/messages.html'%}
  <div class="main">
    <br><br/>
    <h5 class="title">{{Restaurant_selected.Name}}</h5>
    <p class="h7">Style: {{Restaurant_selected.Style}}</p>
    <p class="h7">Average Price: {{Restaurant_selected.Price}}</p>
    <p class="h7">Distance: {{Restaurant_selected.Distance}} Km</p>
    <p class="h7">Address: {{Restaurant_selected.Address}}</p>
    {% ratings Restaurant_selected %}
    <br><br/>
    {% if user.is_staff %}
    <a href="edit/{{ Restaurant_selected.id }}" class="btn btn-primary" id="{{ Restaurant_selected.id }}">編輯餐廳</a>
    <a href="delete/{{ Restaurant_selected.id }}" class="btn btn-danger" id="{{ Restaurant_selected.id }}" onclick="return confirm('Are you sure you want to delete this?')">刪除餐廳</a>
    {% endif %}
    <a href="/" class="btn btn-dark" >返回首頁</a>
  </div>
</div>
{% endblock %}